.response-container {
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-radius: 5px;
  background-color: #ebeef5;
}

.response-header {
  background-color: #e0e6f0;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.response-example {
  display: inline;
}

.copy-button {
  display: inline;
  float: right;
  padding-right: 10px;
  cursor: pointer;
}

.response-json {
  outline: 2px solid transparent;
  outline-offset: 2px;
  background-color: #ebeef5;
  padding: 0 25px 10px 25px;
  border-radius: 0 0 5px 5px;
  max-height: 700px;
  overflow-y: scroll;
  width: 300px;
}

.status-text {
  padding-bottom: 20px;
  font-size: 15px;
}