.main {
  padding: 30px;
  font-size: 12px;
}

.url-main {
  border-radius: 5px;
  background-color: #f5f7fa;
  width: fit-content;
  padding-left: 10px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.get-text {
  background-color: #05b870;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-top: 4px;
  color: #fff;
  font-weight: 700;
  display: inline;
  border-radius: 5px;
}

.get-url {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-top: 4px;
  font-weight: 400;
  display: inline;
}

.container {
  display: flex;
}

.left-panel {
  flex: 2;
  padding: 20px 20px 20px 0px;
}

.right-panel {
  flex: 1;
  padding: 20px;
}

.heading {
  font-size: 20px;
  font-weight: 700;
}

.sub-heading {
  padding-right: 24px;
  padding-bottom: 25px;
  padding-top: 15px;
  font-weight: 600;
  font-size: 16px;
}